/* Important is being used to overwrite
   Semantic UI default value */
body, .pusher {
    background: #333333 !important;
}

h2 {
    color: white;
    padding: 10px;
}

.sidebar {
    color: white;
    z-index: 8;
}

.sidebar-menu {
    padding: 10px;
}

.sidebar.icon {
    position: fixed;
    top: 4px;
    z-index: 9;
    background: #333;
}

.close {
    float: right;
}

.sidebar li {
    list-style: none;
}

.sidebar-toggle {
    position: absolute;
    top: 0;
    padding: 4px 0px 0px 10px;
}

.input {
    margin: 10px 0px 0px 30px;
}

.filter-input {
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.list-address {
    border: 1px solid;
    padding: 15px;
}

.address-list {
    padding: 0;
}

.ui.inverted.menu {
    background: rgba(27, 28, 29, 0.29) !important;
}

.list-address:hover {
    color: black;
    background: white;
}

#map {
    width: 90%;
    height: 600px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
}

.no-info {
    color: red;
    text-align: center;
    display: block;
}

.details {
    padding-left: 10px;
}

.attribution {
    font-size: 12px;
}